body {
background-color: #021200;
color: #black;
}

h1 {
font-size: 35px;
}

#container {
position: sticky;
border-radius: 20px;
left: 30px;
right: 300px;
bottom: auto;
border: solid gray 5px;
padding-left: 10px;
 color: lightgray;
 font-size: 28px;
}
